#s-bc19f141-0bff-4340-9eb5-6ce68d941325 > #backgroundBox {
  background-color: #172F58;
  position: absolute;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 640.0px;
  width: 100%;
  height: 100%;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_1 {
  position: absolute;
  width: 148.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #2C5494;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_1 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_1 span {
  color: #FAF2E7;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_2 {
  position: absolute;
  width: 148.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #2C5494;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_2 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_2 span {
  color: #FAF2E7;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_3 {
  position: absolute;
  width: 148.0px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #2C5494;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_3 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_3 span {
  color: #FAF2E7;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_1 > .backgroundLayer > .colorLayer {
  background-color: #172F58;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_1 span {
  color: #FAF2E7;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_2 {
  position: absolute;
  width: 28.03125px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_2 > .backgroundLayer > .colorLayer {
  background-color: #172F58;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_2 span {
  color: #FAF2E7;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_3 {
  position: absolute;
  width: 28.03125px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_3 > .backgroundLayer > .colorLayer {
  background-color: #172F58;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_3 span {
  color: #FAF2E7;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_4 {
  position: absolute;
  width: 28.03125px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_4 > .backgroundLayer > .colorLayer {
  background-color: #172F58;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_4 span {
  color: #FAF2E7;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_4 {
  position: absolute;
  width: 60.04687500000017px;
  min-height: 38.100677200902965px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  border-bottom-right-radius: 13.5px;
  border-bottom-left-radius: 13.5px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #2C5494;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_4 > .borderLayer {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  border-bottom-right-radius: 13.5px;
  border-bottom-left-radius: 13.5px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  border-bottom-right-radius: 13.5px;
  border-bottom-left-radius: 13.5px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_4 span {
  color: #FAF2E7;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_5 {
  position: absolute;
  width: 60.04687500000017px;
  min-height: 38.100677200902965px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  border-bottom-right-radius: 13.5px;
  border-bottom-left-radius: 13.5px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #2C5494;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_5 > .borderLayer {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  border-bottom-right-radius: 13.5px;
  border-bottom-left-radius: 13.5px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  border-bottom-right-radius: 13.5px;
  border-bottom-left-radius: 13.5px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_5 span {
  color: #FAF2E7;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_6 {
  position: absolute;
  width: 60.04687500000017px;
  min-height: 38.100677200902965px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  border-bottom-right-radius: 13.5px;
  border-bottom-left-radius: 13.5px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #2C5494;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_6 > .borderLayer {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  border-bottom-right-radius: 13.5px;
  border-bottom-left-radius: 13.5px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 13.5px;
  border-top-right-radius: 13.5px;
  border-bottom-right-radius: 13.5px;
  border-bottom-left-radius: 13.5px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_6 span {
  color: #FAF2E7;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FAF2E7;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bc19f141-0bff-4340-9eb5-6ce68d941325 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}